{{define "Index"}}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Loja de Suplementos</title>
    <nav class="navbar navbar-light bg-light mb-4">
        <a class="navbar-brand" href="/"><strong>Gn Suplementos</strong></a>
    </nav>
</head>
<body>
    <h1>Sua Loja de suplementos online.</h1><img src="https://img.icons8.com/external-parzival-1997-outline-color-parzival-1997/100/null/external-e-commerce-shopstreaming-parzival-1997-outline-color-parzival-1997.png"/><br><br>
    <h2>Compre na maior loja de suplementos do Rio de Janeiro.</h2><br>
    <div class="container">
        <section class="card">
            <div>
                <table class="table table-striped table-hover mb-0">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Whey Protein</td>
                <td>O whey protein tem alta concentração de cálcio.</td>
                <td>59</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Creatina Universal</td>
                <td>A melhor creatina do mercado</td>
                <td>119</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Albumina</td>
                <td>Clara do ovo.</td>
                <td>49</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Omega 3</td>
                <td>Multivitaminíco</td>
                <td>32</td>
                <td>30</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

{{end}}